.testimonial {
  padding-top: 60px;
  max-width: 150%;
}

.testi {
  padding: 8px 0;
  text-align: center;
  margin-bottom: 20px;
}

.testi h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  padding: 8px 0;
}

.testi h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding: 8px 0;
}